{{ if not (or (eq (trim .Page.RelPermalink "/") "en/page/about") (eq (trim .Page.RelPermalink "/") "en/page/projects")) }}
<div class="share-buttons">
    <ul class="share-buttons">
        <li>
            <a href='https://www.facebook.com/sharer/sharer.php?u={{ absLangURL .Permalink | safeURL }}' target="_blank" title="Facebook">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Share on Facebook</span>
            </a>
        </li>
        <li>
            <a href='https://twitter.com/intent/tweet?text={{ (urlquery .Title) | safeURL }}%20{{ (urlquery (absLangURL .Permalink)) | safeURL }}' target="_blank" title="Tweet">
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Tweet</span>
            </a>
        </li>
        <li>
            <a href='http://www.linkedin.com/shareArticle?mini=true&url={{ absLangURL .Permalink | safeURL }}&title={{ (urlquery .Title) | safeURL }}%20%7C%20{{ (urlquery .Site.Title) | safeURL }}&summary=&source={{ absLangURL "/" | safeURL }}' target="_blank" title="LinkedIn">
                <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Share on LinkedIn</span>
            </a>
        </li>
    </ul>
</div>
{{ end }}