{{ if not (or (eq (trim .Page.RelPermalink "/") "en/page/about") (eq (trim .Page.RelPermalink "/") "en/page/projects")) }}

{{ $url := printf "%s" .Permalink | absLangURL }}
{{ $textBody := print .Title "\n\n" (.Summary | truncate 200) "\n\n" $url "\n" }}
{{ $encodedSummary := strings.TrimPrefix "=" (querify "" (.Summary | truncate 200))  }}

<div class="share-buttons">
    <ul class="share-buttons">
        <li>
            <a href="https://www.facebook.com/sharer.php?u={{ $url }}&t={{ .Title }}" target="_blank" title="Facebook">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Share on Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/share?text={{ .Title }}&url={{ $url }}" target="_blank" title="Tweet">
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Tweet</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ $url }}&title={{ .Title }}&summary={{ $encodedSummary }}"
               target="_blank" title="LinkedIn">
                <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                <span class="sr-only">Share on LinkedIn</span>
            </a>
        </li>
    </ul>
</div>
{{ end }}